/www/.env

# Ignorer tout le dossier db/
db/

# Ignorer des fichiers spécifiques au fonctionnement de MySQL
*.pem
*.cnf
*.ibd
*.dblwr
*.index
*.log
*.frm
*.MYI
*.MYD
*.sqlite
*.sock
*.pid

# Ignorer le dossier des dépendances Composer
/www/vendor/