.kanban-column {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-right: 15px;
  background-color: #f9f9f9;
  min-height: 300px; /* Ajustez selon vos besoins */
}
.kanban-column h2 {
  text-align: center;
  color: #333;
}
.list-group-item {
  cursor: move; /* Indique que l'élément est déplaçable */
  transition: background-color 0.3s;
}
.list-group-item:hover {
  background-color: #e9ecef;
}
