/* styles/main.css */

/* Appliquer une police générique */
body {
    font-family: Arial, sans-serif;
    margin: 0; /* Supprime les marges par défaut du body */
  }
  
  .header {
      background-color: #0D81D8;
      padding: 10px 0;
      text-align: right;
      position: sticky;
      top: 0; /* Définit le bandeau en haut de la page */
      left: 0;
      right: 0;
  }
  
  .menu {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  .menu li {
      display: inline-block;
      margin-right: 20px;
  }
  
  .menu li:last-child {
      margin-right: 0;
  }
  
  .menu li a {
      color: white;
      text-decoration: none;
      padding: 5px 10px;
  }
  
  .menu li a:hover {
      background-color: white;
      color: #0D81D8;
  }
  